<div class="search-container">
  <p class="search-heading">Seek Future Here</p>
  <div class="search">
    <div class="form-group">
      <input #search type="text" class="form-text text-muted border-0" placeholder="Search Future Here..." name="search" id="search" [formControl]="searchBar" style="width: 30rem;" (input)="displayMatches($event.target.value)" (keyup)="displayMatches()">
      <ul #suggestions class="suggestions" [innerHTML]="innerhtml">
				<li>Filter for a skills</li>
        <!-- {{ cityname }} -->
      </ul>
    </div>
    <div class="button">
      <span class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
  </div>

</div>

<div class="job-container"  *ngIf="jobs">
  <h1 style="text-align: center; padding-bottom: 1.5rem;">Jobs for you</h1>
  <div class="row">
    <div class="col-3" *ngFor="let job of jobs">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">{{ job.company }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ job.title }}</h5>
          <p class="card-text">
            <small>Skills: {{ job.skills }}</small><br>
            Experience: {{ job.experience }}<br>
            Salary: &#x20b9;{{ job.salary.min }} - &#x20b9;{{ job.salary.max }}<br>
            Location: {{ job.location }}<br>
          </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="btn btn-primary" (click)="apply(job._id)">Apply</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

